<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <title>Visit Grenada</title>
</head>
<body>
    <div class="ui inverted segment" style="margin: 0; display: flex; align-items: center; align-content: center; justify-content: center;">
        <div class="ui inverted secondary pointing menu">
          <a class="item" href="/">
            Home
          </a>
          <a class="active item">
            Visit Grenada
          </a>
          <a class="item" href="/caribbean">
            Caribbean
          </a>



        </div>
      </div>
    </div>
    <div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
          <div class="lg:pr-4">
            <div class="lg:max-w-lg">
              <p class="text-base font-semibold leading-7 text-indigo-600">Activities</p>
              <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">A plethora of once in a lifetime experiences.</h1>
              <p class="mt-6 text-xl leading-8 text-gray-700">Diving in Grenada
                Grenada is a top-tier destination for divers, boasting some of the Caribbean's most vibrant underwater ecosystems. The island is known for the Molinere Underwater Sculpture Park, an innovative blend of art and marine life where sculptures serve as artificial reefs. Additionally, divers can explore shipwrecks like the Bianca C, known as the "Titanic of the Caribbean." Whether you’re a beginner or an experienced diver, Grenada’s waters offer rich marine biodiversity, including coral gardens, sea turtles, and colorful tropical fish.</p>
            </div>
          </div>
        </div>
        <div class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
          <img class="w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]" src="/static/images/diving.jpg" alt="">
        </div>
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
          <div class="lg:pr-4">
            <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
              <p>Exploring Grenada’s Monkeys
                Grenada is home to a thriving population of Mona monkeys, which are one of the island's most unique wildlife attractions. These playful creatures, originally from West Africa, can often be spotted in Grand Etang National Park. While hiking through the lush tropical rainforest, visitors may encounter them swinging from trees or curiously observing humans. The monkeys are relatively used to visitors, making it a delightful experience to see them up close while exploring the island’s natural beauty.</p>
              <p class="mt-8">Hiking and Waterfalls
                Grenada’s rugged terrain is perfect for hiking, offering scenic routes that lead to stunning waterfalls. One popular trek is to the Annandale Waterfall, where visitors can cool off with a swim in the natural pool below the falls. For more adventurous hikers, Seven Sisters Falls offers a more challenging route through the rainforest, rewarding them with cascading waterfalls and picturesque views. These hikes also provide a chance to immerse yourself in the island’s rich flora, with tropical plants, ferns, and orchids along the way.</p>
                <p class="mt-8">Island Culture and Spice Tours
                  Grenada is famous for its spices, particularly nutmeg, cloves, and cinnamon, which have earned it the nickname "Isle of Spice." Visitors can tour spice plantations, such as the Gouyave Nutmeg Processing Station, to learn about the island's agricultural heritage. Walking through the aromatic fields and seeing the spice production process offers insight into the island’s history and economy. Many tours include tasting sessions where you can try local delicacies flavored with freshly ground spices, providing a sensory experience unique to Grenada.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>