<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <title>Visit Grenada</title>
</head>
<body>
    <div class="ui inverted segment" style="margin: 0; display: flex; align-items: center; align-content: center; justify-content: center;">
        <div class="ui inverted secondary pointing menu">
          <a class="item" href="/">
            Home
          </a>
          <a class="item" href="/visit">
            Visit Grenada
          </a>
          <a class="item" href="/caribbean">
            Caribbean
          </a>


        </div>
      </div>
    </div>

    <div class="overflow-hidden bg-white py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
          <div class="lg:pr-8 lg:pt-4">
            <div class="lg:max-w-lg">
              <h2 class="text-base font-semibold leading-7 text-indigo-600">Grenadian Culture</h2>
              <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Spicemas Carnival</p>
              <p class="mt-6 text-lg leading-8 text-gray-600">Grenada’s Spicemas Carnival and Its Importance
                Spicemas is Grenada's premier cultural festival, celebrated every August, and is an explosion of vibrant colors, infectious music, and spirited performances. Rooted in African, European, and Caribbean traditions, Spicemas showcases the island's rich cultural heritage through a variety of events, including the traditional "J'ouvert" morning revelry, "Pretty Mas" parades, and soca and calypso competitions.
                <br><br>
                The carnival is a deeply significant event for Grenadians, symbolizing freedom, unity, and resilience. J'ouvert, for example, features revelers covered in paint, oil, or mud, symbolizing liberation and the overthrow of oppression. It draws upon the island's history of slavery, as well as African spiritual traditions.
                <br><br>
                Beyond its cultural value, Spicemas is a major economic driver for Grenada, attracting thousands of visitors to the island each year. The influx of tourists boosts local businesses, from vendors to hotels, and helps to sustain the economy.
                <br><br>
                In essence, Spicemas Carnival is not only a celebration of Grenadian identity but also a crucial component of the island’s social and economic fabric, uniting locals and visitors in a shared experience of joy and tradition.
              <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
              </dl>
            </div>
          </div>
          <img src="/static/images/carnivalpic.jpg" alt="Product screenshot" class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0" width="2432" height="1442">
        </div>
      </div>
    </div>
</body>
</html>