<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <title>Visit Grenada</title>
</head>
<body>
    <div class="ui inverted segment" style="margin: 0; display: flex; align-items: center; align-content: center; justify-content: center;">
        <div class="ui inverted secondary pointing menu" style="z-index: 2; ">
          <a class="active item">
            Home
          </a>
          <a class="item" href="/visit">
            Visit Grenada
          </a>
          <a class="item" href="/caribbean">
            Caribbean
          </a>

        </div>
      </div>
  
      <div class="image-container">
        <div class="image-container">
          <img src="/static/images/grenada4.png" alt="image" style="height: 93%; ">
          <!--<a class="ui black basic button" style="position: absolute; top: 80%; left: 50%; transform: translate(-50%, -50%); font-size: 1.5em;" href="/visit">Visit Grenada</a>
          <button class="ui black basic button" style="position: absolute; top: 80%; left: 30%; transform: translate(-50%, -50%); font-size: 1.5em;">The Carribbean</button>
          <button class="ui black basic button" style="position: absolute; top: 80%; left: 70%; transform: translate(-50%, -50%); font-size: 1.5em;">Activities</button>-->

      </div>
    </div>
    <div class="bg-white">
      <div class="fade-in-sect mx-auto grid max-w-2xl grid-cols-1 items-center gap-x-8 gap-y-16 px-4 py-24 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8">
        <div>
          <h2 class="text-3xl font-bold tracking-tight text-indigo-900 sm:text-4xl">The Caribbean</h2>
          <p class="mt-4 text-gray-500">The Caribbean is a vibrant region known for its tropical beauty, diverse cultures, and rich history. Located between the Atlantic Ocean and the Caribbean Sea, it comprises over 7,000 islands, islets, reefs, and cays. The region is divided into the Greater Antilles, Lesser Antilles, and the Bahamas.
            <br><br>
            Among the Lesser Antilles, the Spice Isles—notably Grenada and its sister islands—stand out. Grenada is renowned for its production of spices such as nutmeg, cloves, cinnamon, and ginger, earning it the nickname “Isle of Spice.” The fertile volcanic soil makes this island one of the world’s leading producers of these aromatic crops.
            <br><br>
            Beyond the Spice Isles, the Caribbean is home to other diverse islands, each offering unique cultural and natural landscapes. Jamaica is famous for its reggae music and jerk cuisine, while Cuba is noted for its rich history and Havana’s colonial architecture. The Dominican Republic boasts beautiful beaches, and Barbados offers a blend of British colonial heritage and Caribbean flair.
            <br><br>
            The Caribbean’s history is shaped by a mix of African, European, and Indigenous influences, visible in its art, music, and festivals. Its crystal-clear waters and white sand beaches make it a global tourist destination, while the distinct island cultures create an enchanting mosaic across the region.<br><br></p>
            <a href="/caribbean" class="inline-block rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-center font-medium text-white hover:bg-indigo-700">Explore the Caribbean</a>
        </div>
        <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
          <img src="/static/images/cayo.png" alt="Cayo" class="rounded-lg bg-gray-100">
          <img src="/static/images/dominican.png" alt="Top down view of walnut card tray with embedded magnets and card groove." class="rounded-lg bg-gray-100">
          <img src="/static/images/flaming.png" alt="Side of walnut card tray with card groove and recessed card area." class="rounded-lg bg-gray-100">
          <img src="/static/images/grenada.png" alt="Walnut card tray filled with cards and card angled in dedicated groove." class="rounded-lg bg-gray-100">
        </div>
      </div>
    </div>

    <div class="relative overflow-hidden bg-white">
      <div class="fade-in-sect pb-80 pt-16 sm:pb-40 sm:pt-24 lg:pb-48 lg:pt-40">
        <div class="relative mx-auto max-w-7xl px-4 sm:static sm:px-6 lg:px-8">
          <div class="sm:max-w-lg">
            <h1 class="text-4xl font-bold tracking-tight text-indigo-900 sm:text-6xl">Discover Grenada</h1>
            <p class="mt-4 text-xl text-gray-500">Grenada offers a wide range of activities for adventure seekers and nature lovers. Diving is a popular attraction, with sites like the famous Underwater Sculpture Park and colorful coral reefs teeming with marine life. <br><br> For those who enjoy hiking, jungle treks through the island’s lush rainforests reveal stunning waterfalls, hidden pools, and playful monkeys. You can also tour spice plantations, learning about the production of nutmeg and cocoa. Grenada’s beautiful beaches and vibrant markets complete the experience.</p>
          </div>
          <div>
            <div class="mt-10">
              <!-- Decorative image grid -->
              <div aria-hidden="true" class="pointer-events-none lg:absolute lg:inset-y-0 lg:mx-auto lg:w-full lg:max-w-7xl">
                <div class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
                  <div class="flex items-center space-x-6 lg:space-x-8">
                    <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                      <div class="h-64 w-44 overflow-hidden rounded-lg sm:opacity-0 lg:opacity-100">
                        <img src="/static/images/cannons1.png" alt="" class="h-full w-full object-cover object-center">
                      </div>
                      <div class="h-64 w-44 overflow-hidden rounded-lg">
                        <img src="/static/images/monkeyimg.png" alt="" class="h-full w-full object-cover object-center">
                      </div>
                    </div>
                    <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                      <div class="h-64 w-44 overflow-hidden rounded-lg">
                        <img src="/static/images/mountains1.png" alt="" class="h-full w-full object-cover object-center">
                      </div>
                      <div class="h-64 w-44 overflow-hidden rounded-lg">
                        <img src="/static/images/turtle1.png" alt="" class="h-full w-full object-cover object-center">
                      </div>
                      <div class="h-64 w-44 overflow-hidden rounded-lg">
                        <img src="/static/images/waterfall1.png" alt="" class="h-full w-full object-cover object-center">
                      </div>
                    </div>
                    <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                      <div class="h-64 w-44 overflow-hidden rounded-lg">
                        <img src="/static/images/waterfall2.png" alt="" class="h-full w-full object-cover object-center">
                      </div>
                      <div class="h-64 w-44 overflow-hidden rounded-lg">
                        <img src="/static/images/ocean1.png" alt="" class="h-full w-full object-cover object-center">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
              <a href="/activities" class="inline-block rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-center font-medium text-white hover:bg-indigo-700">Browse Activities</a>
            </div>
          </div>
        </div>
      </div>
    </div>

<div>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
      <h2 class="text-2xl font-bold text-gray-900">Collections</h2>

      <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
        <div class="group relative">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="/static/images/diving.jpg" alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug." class="h-full w-full object-cover object-center">
          </div>
          <h3 class="mt-6 text-sm text-indigo-600">
            <a href="/oceanlife">
              <span class="absolute inset-0"></span>
              Environmental
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Ocean Life</p>
        </div>
        <div class="group relative">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="/static/images/carnival.jpg" alt="Wood table with porcelain mug, leather journal, brass pen, leather key ring, and a houseplant." class="h-full w-full object-cover object-center">
          </div>
          <h3 class="mt-6 text-sm text-indigo-600">
            <a href="/carnival">
              <span class="absolute inset-0"></span>
              Culture
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Grenadian Carnival</p>
        </div>
        <div class="group relative">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="/static/images/nutmeg.jpg" alt="Collection of four insulated travel bottles on wooden shelf." class="h-full w-full object-cover object-center">
          </div>
          <h3 class="mt-6 text-sm text-indigo-600">
            <a href="/spiceandfood">
              <span class="absolute inset-0"></span>
              Food
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Nutmeg & Spice</p>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="bg-white dark:bg-gray-900">
  <div class="mx-auto w-full max-w-screen-xl">
    <div class="grid grid-cols-2 gap-8 px-4 py-6 lg:py-8 md:grid-cols-4">
      <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Pages</h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
              <li class="mb-4">
                  <a href="#" class=" hover:underline">Discover Grenada</a>
              </li>
              <li class="mb-4">
                  <a href="#" class="hover:underline">Caribbean</a>
              </li>
              <li class="mb-4">
                  <a href="#" class="hover:underline">Carnival</a>
              </li>
              <li class="mb-4">
                  <a href="#" class="hover:underline">Ocean Life</a>
              </li>
              <li class="mb-4">
                <a href="#" class="hover:underline">Spice & Foods</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Activities</a>
          </li>
          </ul>
      </div>
      <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">About Us</h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
              <li class="mb-4">
                  <a href="/aboutus" class="hover:underline">About Us</a>
              </li>
          </ul>
      </div>
  </div>
</footer>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
          const elementsToFadeIn = document.querySelectorAll('.fade-in-sect');

          function checkScroll() {
              const triggerBottom = window.innerHeight - 100;

              elementsToFadeIn.forEach(element => {
                  const elementTop = element.getBoundingClientRect().top;

                  if (elementTop < triggerBottom) {
                      element.classList.add('fade-in');
                  }
              });
          }

          window.addEventListener('scroll', checkScroll);

          checkScroll();
      });
  </script>
</body>
</html>