<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <title>Visit Grenada</title>
</head>
<body>
    <div class="ui inverted segment" style="margin: 0; display: flex; align-items: center; align-content: center; justify-content: center;">
        <div class="ui inverted secondary pointing menu">
          <a class="item" href="/">
            Home
          </a>
          <a class="item" href="/visit">
            Visit Grenada
          </a>
          <a class="item" href="/caribbean">
            Caribbean
          </a>



        </div>
      </div>
    </div>

    <div class="overflow-hidden bg-white py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
          <div class="lg:pr-8 lg:pt-4">
            <div class="lg:max-w-lg">
              <h2 class="text-base font-semibold leading-7 text-indigo-600">Grenadian Food & Spices</h2>
              <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Nutmeg & Spices</p>
              <p class="mt-6 text-lg leading-8 text-gray-600">
                Grenada’s Nutmeg and Spice Industry
                Known as the "Spice Isle," Grenada is one of the world’s largest producers of nutmeg and a variety of other spices, such as cinnamon, cloves, and mace. Nutmeg, in particular, plays a central role in the island’s agricultural economy and cultural identity, accounting for a significant portion of Grenada’s export revenue.
                <br><br>
                Introduced to the island in the 19th century, nutmeg flourished in Grenada’s rich volcanic soil and tropical climate. Today, the small island is one of the top exporters of nutmeg globally. Grenadian nutmeg is especially prized for its quality, due in large part to traditional farming techniques that have been passed down through generations.
                <br><br>
                Spices are woven into the everyday life and cuisine of the island, with nutmeg being used in both sweet and savory dishes, as well as drinks like the famous nutmeg-spiced rum punch. Beyond cooking, these spices are also used in medicine, cosmetics, and aromatherapy.
                <br><br>
                Despite challenges, such as hurricanes and fluctuating market demands, Grenada’s nutmeg and spice industry remains vital to its economy, symbolizing resilience and pride for the island’s people.
              <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
              </dl>
            </div>
          </div>
          <img src="/static/images/spices.jpg" alt="Product screenshot" class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0" width="2432" height="1442">
        </div>
      </div>
    </div>
</body>
</html>