<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <title>Visit Grenada</title>
</head>
<body>
    <div class="ui inverted segment" style="margin: 0; display: flex; align-items: center; align-content: center; justify-content: center;">
        <div class="ui inverted secondary pointing menu">
          <a class="item" href="/">
            Home
          </a>
          <a class="active item">
            Visit Grenada
          </a>
          <a class="item" href="/caribbean">
            Caribbean
          </a>



        </div>
      </div>
    </div>
    <div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
          <div class="lg:pr-4">
            <div class="lg:max-w-lg">
              <p class="text-base font-semibold leading-7 text-indigo-600">Grenada</p>
              <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">A stunning quiet paradise nestled in the caribbean.</h1>
              <p class="mt-6 text-xl leading-8 text-gray-700">Grenada, known as the “Spice Isle,” is a stunning island nation located in the southeastern Caribbean. Famous for its production of nutmeg, cinnamon, and cloves, Grenada’s lush, volcanic soil has made it a significant player in the global spice trade. The island’s tropical climate, combined with its rich landscape of rolling hills, waterfalls, and pristine beaches, attracts visitors from around the world seeking a mix of natural beauty and vibrant culture.</p>
            </div>
          </div>
        </div>
        <div class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
          <img class="w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]" src="/static/images/grenada1.png" alt="">
        </div>
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
          <div class="lg:pr-4">
            <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
              <p>Grenada’s history is marked by colonization, slavery, and eventual independence. Originally inhabited by the indigenous Kalinago people, the island was colonized by the French and later the British, with the legacy of this colonial past visible in the architecture and language. Despite a tumultuous history, including a U.S. intervention in 1983, Grenada has emerged as a stable and peaceful nation. The country gained independence from Britain in 1974 and has since worked to build a strong economy based on agriculture, tourism, and exports.</p>
              <p class="mt-8">Today, Grenada is renowned not only for its spices but also for its dedication to environmental conservation. The creation of artificial reefs, marine parks, and eco-tourism initiatives highlights Grenada’s commitment to preserving its natural environment. Whether through diving in the Molinere Underwater Sculpture Park or exploring its verdant rainforest, Grenada offers a unique blend of adventure, culture, and natural beauty that captivates all who visit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>